{% extends '/all/user/profil_base.html.twig' %}

{% block main %}
    <h2>Your Orders</h2>
    <ul>
    {% for o in orders %}
        <li>{{ o.createdAt.format("d/m") }} - {{ o.somme }} - {{ o.description }}</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block stylesheets %}
    <style>

        .blurry:hover{
            -webkit-transition: 0.1s -webkit-filter linear;
            -webkit-filter:blur(1px);
        }


    </style>
{% endblock %}

{% block javascripts %}

{% endblock %}
