{% extends '/all/user/profil_base.html.twig' %}

{% block main %}
    <h2>Profile</h2>
    <hr>

{% endblock %}

{% block stylesheets %}
    <style>

        .blurry:hover{
            -webkit-transition: 0.1s -webkit-filter linear;
            -webkit-filter:blur(1px);
        }


    </style>
{% endblock %}

{% block javascripts %}

{% endblock %}
