{% extends '/all/user/profil_base.html.twig' %}

{% block main %}
    <h2>Profile</h2>
    <hr>
    <form id="editProfileForm" action="/user/profile/edit" method="post">
        <div class="row">
            <div class="col">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" class="form-control" id="emailRegister" placeholder="Email" value="{{ usr.email }}">
                <p id="regMailError" hidden="true">Invalid Mail</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <label for="firstname">First Name</label>
                <input id="firstname" name="firstname" type="text" class="form-control" placeholder="First name" value="{{ usr.prenom }}">
            </div>
            <div class="col">
                <label for="lastname">Last Name</label>
                <input id="lastname" name="lastname" type="text" class="form-control" placeholder="Last name" value="{{ usr.nom }}">
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col">
                <label for="urlAvatar">Avatar</label>
                <input id="urlAvatar" name="urlAvatar" type="text" class="form-control" placeholder="url Avatar" value="{{ usr.urlAvatar }}">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" class="form-control" aria-describedby="passwordHelpInline" id= "passwordRegister" placeholder="Password">
                <p id="regPasswordError" hidden="true">Invalid Password</p>
                <small id="passwordHelpInline" class="form-text text-muted">
                    Must be 8-20 characters long.
                </small>
            </div>
        </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col">
                    <button  type="submit" form="editProfileForm" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col">
                    <button  type="submit" form="" class="btn btn-primary">Desactivate Acount</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block stylesheets %}
    <style>

        .blurry:hover{
            -webkit-transition: 0.1s -webkit-filter linear;
            -webkit-filter:blur(1px);
        }


    </style>
{% endblock %}

{% block javascripts %}

{% endblock %}
