{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align : center;">Your Dashboard</h1>
    <hr />
        <div class="row">
            <div class="col-md-3 col-xs-1 p-l-0 p-r-0" id="sidebar">
                <div class="list-group panel">
                    <a href="/user/profile" class="list-group-item" data-parent="#sidebar"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">Profile</span> </a>
                    <a href="/user/library" class="list-group-item" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="hidden-sm-down">Library</span></a>
                    <a href="/user/orders" class="list-group-item" data-parent="#sidebar"><i class="fa fa-book"></i> <span class="hidden-sm-down">Orders</span></a>
                </div>
            </div>
            <main class="col-md-9 col-xs-11 p-l-2 p-t-2">
                {% block main %}{% endblock %}
            </main>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>

        .blurry:hover{
            -webkit-transition: 0.1s -webkit-filter linear;
            -webkit-filter:blur(1px);
        }


    </style>
{% endblock %}

{% block javascripts %}

{% endblock %}
