{% extends '/all/user/profil_base.html.twig' %}

{% block main %}
    <h2>Orders</h2>
    <ul>
    {% for abo in abohisto %}
        <li>{{abo.abonnementhistorique->createdat.format("d/m/Y")}}</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block stylesheets %}
    <style>

        .blurry:hover{
            -webkit-transition: 0.1s -webkit-filter linear;
            -webkit-filter:blur(1px);
        }


    </style>
{% endblock %}

{% block javascripts %}

{% endblock %}
