{% extends 'base.html.twig' %}



{% block body %}
    <h3> <inline> <bold>You don't have bought this video yet. You can buy it to access content and interact with other members about it !</bold></inline></h3>
    <a href="/video/buy/{{ idv }}"> <button>Buy it !</button></a>
{% endblock %}



{% block stylesheets %}
    <style>
    </style>

{% endblock %}