{% extends 'base.html.twig' %}



{% block body %}
    <h1>Legal Notice</h1>
    <p>Responsable : Fromenteau Marvin</p>
    <p>Adresse : 5 rue de Nul Part</p>
    <p>N° RCS : 08978876.78587676B676</p>
    <h3>PROPRIÉTÉ INTELLECTUELLE</h3>
    <p>Toutes les informations et données présentées sur le site web, textes, visuels, logos, éléments graphiques, photographies, images, data, sont couvertes et protégées par les lois française et Internationale en vigueur en matière de Propriété Intellectuelle.  Toute reproduction ou représentation partielle ou totale de ce site, par quelque moyen que ce soit, est par conséquent totalement interdite, et soumise à l’autorisation expresse et préalable de Sequana, La Compagnie Irlandaise. La création de liens vers le site www.sequana.net est également soumise à l’autorisation expresse et préalable de Sequana, La Compagnie Irlandaise.</p>
    <h3>DONNÉES PERSONNELLES</h3>
    <p>Certaines données à caractère personnel nous seront indispensables pour répondre à vos demandes, mais elles resteront strictement confidentielles, et ne seront pas divulguées à l’extérieur de la société. Vous disposerez de par la loi, d’un droit d’accès, de modification ou de suppression de ces données sur simple demande.</p>
    <h3>Hebergement</h3>
    <p>Ce site est hébergé chez Fsociety.</p>
{% endblock %}



{% block stylesheets %}
    <style>
    </style>

{% endblock %}